@import 'settings';
@import '{zurb:foundation-sites}/scss/foundation';
// @import '{zurb:motion-ui}/src/motion-ui';
@include foundation-everything;
@include add-foundation-colors;


$huat-pink: #e50b4f;
$huat-orange: #f85130;
$huat-blue: #1A90B2;
$active-black: #1f1f20;
$subtle-black: #3a3a3c;
$shady-gray: #999;
$inactive-gray: #ccc;
$nearly-white: #f2f2f2;

$primary-color: $huat-pink;

* {
	outline: none;
}

.application {
	height: 100vh;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

.top-bar {
	background: $nearly-white;
	float: right;
	padding-top: 17px;
	padding-left: 20px;
}

.content {
	background-color: $nearly-white;
	height: 100%;
	padding-right: 0;
	overflow-y: scroll;

	h1 {
		font-size: 32px;
		font-weight: 300;
		margin-top: 15px;
		color: $shady-gray;
	}

	h4 {
		font-size: 24px;
		font-weight: 300;
		padding: 0;
		color: $subtle-black;
	} 

}

#side-content {
	height: 100%;
	.sidebar {
		background-color: $active-black;
		border-right: 1px solid $inactive-gray;
		height: 100%;
		padding: 0;
		position: fixed;
		text-align: center;

		img {
			height: 75px;
			margin: 30px 0;
		}

		li {
			text-align: left;
			width: 100%;
		}

		a {
			padding: 20px 0 20px 25px;
			display: block;
			width: 100%;
			font-size: 18px;
			color: $shady-gray;

			i {
				font-size: 30px;
				padding-right: 20px;
			}
		}

		ul {
			margin: 0;
			:hover {
				background-color: darken($subtle-black, 13%);
			}
		}

		.active {
			a {
				color: $huat-pink;
			}
		}

		.has-form {
			padding: 0;
			bottom: 0;
			position: absolute;

			:hover {
				color: $huat-orange;
			}

			a {
				background-color: $active-black;
				color: $subtle-black;
			}
		}
	}
}

.sign_in {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 500px;

	img {
		width: 150px;
	}
	h3 {
		color: $huat-pink;
		font-size: 36px;
		font-weight: 300;
	}
}

.goal_button {
	position: fixed;
	bottom: 50px;
	right: 50px;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	padding: 0;

	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);

	.fa-plus {
		font-size: 16px;
		margin-top: 3px;
		padding: 0;
	}
}

.top-bar {
	ul {
		background: none;
	}
	.profile_button {
		color: $subtle-black;
		font-size: 20px;
		&:hover {
			color: $huat-pink;
		}
	}
}


.regis_container {
	margin-left: 100px;
}

.risk_profile {
	margin-top: 100px;
	text-align: center;
	margin: 100px auto;

	h3 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	button {
		font-size: 20px;
		padding:20px;
		margin-right: 15px;
	}

}

.bucket_goal {
	width: 30%;
	background-color: #fff;
	border: 1px solid $inactive-gray;
	border-radius: 7px;
	padding: 20px;
	margin: 10px;
	display: inline-block;

	.remainder {
		background-color: $inactive-gray;
		color: #fff;
		float: right;
		font-size: 12px;
		margin-left: 20px;
		padding: 7px;
		text-align: right;
	}

	h3 {
		font-size: 25px;
		font-weight: 300;
		color: $huat-pink;
	}

	p {
		margin-bottom: 5px;;
	}

	a {
		color: $subtle-black;
	}

	.progress {
		background-color: $inactive-gray;
		margin: 0;
	}

	.date {
		font-size: 12px;
		color: $shady-gray;
	}

	.curr {
		text-align: left;
		color: $huat-pink;
		font-size: 12px;
		border-left: 1px solid $huat-pink;
		padding-left: 4px;;
	}

	.targ {
		text-align: right;
		color: $shady-gray;
		font-size: 12px;
		border-right: 1px solid $inactive-gray;
		padding-right: 4px;
	}
}

.recommended {
	display: inline-block;
	margin-right: 5px;
	width: 30%;
	border: 1px solid $inactive-gray;

	.header {
		background-color: #fff;
		padding: 10px 20px;

		h4 {
			color: $shady-gray;
			font-size: 20px;
		}

		i {
			color: $inactive-gray;
			font-size: 15px;
		}
	}

	.deletekey1 {
		background: none;
		color: $inactive-gray;
		float: right;
		font-size: 20px;
		padding: 5px;

		:hover {
			color: $huat-pink;
		}
	}

	.recommended_goal {
		margin: 2px;
		padding: 5px 15px;

		a {
			font-size: 15px;
			color: $subtle-black;

			&:hover {
				color: $huat-pink;
			}
		}
	}
}

.dashboard_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	.dashboard_item {
		background-color: #fff;
		border: 1px solid $inactive-gray;
		border-radius: 7px;
		margin: 10px;
		padding: 10px 35px;
		text-align: center;

		h1 {
			font-size: 50px;
			color: $huat-pink;
		}

		h3 {
			font-size: 18px;
			font-weight: 300;
		}

		p {
			font-size: 14px;
			font-weight: 500;
			color: $shady-gray;
		}

		.curr {
			text-align: left;
			color: $huat-pink;
			font-size: 12px;
			border-left: 1px solid $huat-pink;
			padding-left: 4px;;
		}

		.targ {
			text-align: right;
			color: $shady-gray;
			font-size: 12px;
			border-right: 1px solid $inactive-gray;
			padding-right: 4px;
		}

		.progress {
			width: 300px;
		}

		.dashboard_header {
			padding: 10px 15px;
			border-bottom: 1px solid $nearly-white;
			margin-bottom: 20px;

			h2 {
				font-size: 18px;
				font-weight: 500;
				color: $subtle-black;
				margin: 0;
			}
		}
	}
}

.top_goal {
	width: 30%;
	padding: 20px;
	display: inline-block;
	text-align: center;

	h3 {
		font-size: 22px;
		font-weight: 300;
		color: $huat-pink;
	}
}

.details_panel {
	background-color: #fff;
	padding: 25px;
	color: $subtle-black;
	font-size: 15px;
	hr {
		margin: 0 0 10px 0;
	}
	h1 {
		font-size: 50px;
		font-weight:3500;
		margin: 5px 0 0 0;
		color: $huat-pink;
	}
	h5 {
		font-size: 15px;
	}
	p {
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 300;
	}
	.progress {
		background-color: $nearly-white;
		margin: 10px 0 40px 0;
	}
	.edit_goal {
		background: none;
		color: $inactive-gray;
		float: right;
		font-size: 20px;
		padding: 0 10px;

		:hover {
			color: $huat-blue;
		}
	}
	.delete_goal {
		background: none;
		color: $inactive-gray;
		float: right;
		font-size: 20px;
		padding: 0 10px;

		:hover {
			color: $huat-pink;
		}
	}
}

#goalprogressChart {
	padding-right: 20px;
}

.add_goal_modal {
	padding: 0;
	height: 560px;
	width: 70%;
	overflow-y: hidden;
	h2 {
		font-size: 20px;
		font-weight: 300;
		padding-bottom: 15px;
	}

	.main-panel {
		padding: 25px;
		
		fieldset {
			display: none;

			&.active {
				display: block;
			}

			.row {
				padding: 0;
				margin: 0;
			}

			.columns {
				padding: 0;
				margin: 0;
			}

			.tag {
				background-color: $huat-pink;
				color: #fff;
				border: none;
				a {
					color: #fff;
				}
			}

			#tags_tag {
				width: 70px !important;
			}

			textarea {
				height: 150px;
			}

		}
	}


	.side-panel {
		height: 560px;
		background-color: $nearly-white;
		padding: 25px;
		h2 {
			font-size: 25px;
			font-weight: 300;
			color: $huat-pink;
		}

		ul {
			list-style: none;
			margin: 0;
			li {

				color: $inactive-gray;
				padding-bottom: 10px;

				&.active {
					color: $huat-pink;
				}

				&.done {
					color: $active-black;
					opacity: 0.5;
				}

				i {
					font-size: 10px;
					padding-right: 10px;
				}
			}
		}

	}


	.goal_category {
		width: 120px;
		height: 120px;
		background-color: $nearly-white;
		color: $shady-gray;
		padding: 10px;
		margin: 10px;
		text-align: center;
		font-size: 15px;
		cursor: pointer;

		i {
			display: block;
			font-size: 30px;
			color: $inactive-gray;
			padding-top: 20px;
			padding-bottom: 10px;
		}


		input[type=radio] {
			display:none;
		}

		&.active {
			background-color: $huat-pink;
			border: solid 1px $huat-pink;
			color: #fff;
			i {
				color: #fff;
			}

			&:hover {
				color:#fff;
				i {color: #fff;}
			}
		}

		&:hover {
			border: solid 1px $huat-pink;
			color: $huat-pink;
			i {
				color: $huat-pink;
			}
		}
	}

	.next {
		position: absolute;
		bottom: 20px;
		right: 20px;
		margin-bottom: 0;

	}

	.previous {
		background-color: transparent;
		color: $inactive-gray;
		position: absolute;
		bottom: 20px;
		left: 20px;
		margin-bottom: 0;

		i {
			padding-right: 10px;
		}

	}
}

.portfolio {
	h1 {
		color: $huat-pink;
	}

	h3 {
		font-size: 22px;
		font-weight: 300;
		color: $subtle-black;
		border-bottom: 1px solid $shady-gray;
		padding: 20px 0 10px 15px;
	}

	p {
		color: $shady-gray;
		font-size: 14px;
	}
}

.tool-tip {
	display: inline;
	position: relative;
	text-align: left;
	#tooltip-icon {
		color: $inactive-gray;
	}

	#tooltip-desc {
		background-color: rgba(0,0,0,0.8);
		border-radius: 3px;
		color: $nearly-white;
		display: inline-block;
		font-size: 12px;
		width: 125px;
		position: absolute;
		left: 20px;
		top: -25px;
		padding: 5px 10px;
		opacity: 0;
		transition: all 0.2s ease;

		&.show {
			opacity: 1;
		}

	}
}

.profile {

	.profile-header {
		background-color: $active-black;
		width: 92%;
		padding: 20px 25px;

		h1 {
			font-size: 50px;
			color: $huat-pink;
		}

		p {
			color: $inactive-gray;
		}
	}

	.profile-basic {
		display: inline-block;
		padding: 20px;
		margin: 10px;
		width: 600px;
		height: 100%;
		vertical-align: top;

		p {
			&.footnote {
				font-size: 12px;
				color: $shady-gray;
			}
		}

	}

	.profile-goal {
		background-color: #fff;
		border: 1px solid $inactive-gray;
		border-radius: 7px;
		display: inline-block;
		padding: 20px;
		margin: 10px 0;

		h1 {
			font-size: 32px;
			color: $huat-pink;
		}

		p {
			color: $shady-gray;
		}
	}
}
