<template name="add_goal_modal">
  <div class="reveal add_goal_modal" id="add_goal_modal{{gg._id}}" data-reveal data-animation-in="spin-in">
    <div class="row">
      <div class="small-4 columns side-panel">
        <h2><i class="fa fa-star"></i> Add New Goal</h2>
        <ul>
          <li class='{{sectionStatus 1}}'><i class="fa {{statusIcon 1}}"></i>Category</li>
          <li class='{{sectionStatus 2}}'><i class="fa {{statusIcon 2}}"></i>Title & Description</li>
          <li class='{{sectionStatus 3}}'><i class="fa {{statusIcon 3}}"></i>Goal Amount and Target</li>
          <li class='{{sectionStatus 4}}'><i class="fa {{statusIcon 4}}"></i>Importance and Tags</li>
        </ul>
        
      </div>
      <div class="small-8 columns main-panel">
        {{> goal_modal}}
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</template>

<template name="goal_modal">
    <form class="add-goal-modal">
      <fieldset class="{{isActive 1}}">
        <h2>Select a Category</h2>
      <div class="row">
        {{#each categories}}
        <div class="small-4 columns">
          <label onclick="" class="goal_category {{isChecked k}}">
            <input type="radio" name="category" value="{{k}}"/>
            <i class="fa fa-child"></i>{{k}}
          </label>
        </div>
        {{/each}}
      </div>
    </fieldset>
      <fieldset class="{{isActive 2}}">
        <h2>What do you want to achieve?</h2>
      <div class="row">
        <label>Title of Goal<input type="text" id="title" placeholder={{title}} required value={{title}}></label>
      </div>
      <div class="row">
        <label>Description
          <textarea placeholder="Enter the details of your goal" id="description"></textarea>
        </label>
      </div>
      </fieldset>
      <fieldset class="{{isActive 3}}">
        <h2>What are your targets</h2>
      <div class="row">
        <div class="small-12 columns">
            <label>Amount (in SGD)<input type="number" placeholder="$$ 2000.00" id="amount" required></label>
        </div>
      </div>
      <div class="row">
        <div class="small-8 columns">
          <label>Target Month
                <select id="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                </select>
            </label>
        </div>
        <div class="small-4 columns">
          <label>Target Year
              <input type="number" placeholder="2017" id="year" value="2017" required>
            </label>
        </div>
        <p class="help-text" id="passwordHelpText">Target date is automatically calculated based on your current investment amount. <a href="" id="reset_date">Click to reset date.</a></p>
        <p>{{realismAmount}}</p>
      </div>
      </fieldset>
      <fieldset class="{{isActive 4}}">
        <h2>Help us know your goal better</h2>
        <div class="row">
          <label>Importance</label>
          <!--
        <div class="slider" data-slider data-start="0" data-end="5">
            <span class="slider-handle" id="slider{{gg}}" data-slider-handle role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill></span>
          <input type="hidden" name="priority">
        </div>
        -->
    <form method="post" action="demoform.asp">
      <input type="range" name="points" id="points" value="5" min="0" max="5" data-show-value="true"> 
    </form>
        </div>
        <div class="row">
          <label>Tags</label>
          <input name="tags" class="tags" id="tags" value="{{predefinedTags gg._id}}" />
        </div>
      </fieldset>
      <button type="button" class="button previous"><i class="fa fa-chevron-left"></i>Back</button>
    <input type="{{submitValue}}" class="button next" value="Next">
  </form>
</template>
