<template name="bucketlist">
	<!-- Recommendation section -->
	<h1>Recommended for you </h1>
	{{#each keyword1}}
	{{> recommendation}}
	{{/each}}

	<!-- Bucket list section -->
	<h1>Bucketlist</h1><hr>
		{{#each goals}}
			{{> bucket_goal}}
		{{/each}}
</template>


<template name="recommendation">
		<div class="bucket_goal">
		<button type="button" class="button deletekey1"><i class="fa fa-trash-o"></i></button>
		<h3>{{k}}</h3>
			{{#each goal_item in g}}
			<li><a data-open="add_goal_modal{{goal_item._id}}">
			{{#if modal}}
			{{goal_item.goal}}
			{{> add_goal_modal gg=goal_item}}
			{{/if}}
			</a></li> 
			
			<!--	<li><a href="/add_goal1/{{goal}}">{{goal}}</a></li>  {{> add_goal_modal gg=_id goal=goal}}-->
			{{/each}}
		</div>
</template>

<template name="bucket_goal">
	<div class="bucket_goal">
		<div class="remainder">{{remainder _id}} mths</div>
		<a href="/goal/{{_id}}"><h3>{{shortIt this.title 15}}</h3></a>
		<p class="date">Started: {{format_startdate _id}}</p>
		<p class="date">Target: {{format_enddate _id}}</p>
		<br>
		<div class="row">
			<div class="large-6 columns curr">
				<p>${{format_current current_amount}}</p>
			</div>
			<div class="large-6 columns targ">
				<p>${{format_target target_amount}}</p>
			</div>
		</div>
		<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
		  	<div class="progress-meter" style="width: {{progress_percent _id}}%"></div>
		</div>
	</div>
</template>