<template name="dashboard">
	<h1>Dashboard</h1>
	<hr>
	<h4>Welcome back <strong>{{username}}</strong></h4>
	<div class="dashboard_container">
		<div class="dashboard_item">
			<h1>{{goalCount}}</h1>
			<p>active goals</p>
		</div>
		<div class="dashboard_item">
			<h1>{{currentProgress}}%</h1>
			<p>of total reached</p>
		</div>
		<div class="dashboard_item">
			<h1>${{monthlyAmt}}</h1>
			<p>invested monthly</p>
		</div>
		<div class="dashboard_item">
			<h1>${{currentAmt}}</h1>
			<p>current portfolio value</p>
		</div>
		<div class="dashboard_item">
			<div class="dashboard_header">
				<h2>Portfolio Performance</h2>
			</div>
			{{> stockChart}}
		</div>
		<div class="dashboard_item">
			<div class="dashboard_header">
				<h2>Portfolio Breakdown</h2>
			</div>
			{{> portfolioChart}}
		</div>
		<div class="dashboard_item">
			<div class="dashboard_header">
				<h2>Your Top Goals</h2>
			</div>
			{{#each goals}}
				<h3>{{title}}</h3>
				<div class="row">
					<div class="large-6 columns curr">
						<p>${{format_money current_amount}}</p>
					</div>
					<div class="large-6 columns targ">
						<p>${{format_money target_amount}}</p>
					</div>
				</div>
				<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
				  	<div class="progress-meter" style="width: {{progress_percent _id}}%"></div>
				</div>
			{{/each}}
		</div>
		<div class="dashboard_item">
			<div class="dashboard_header">
				<h2>Projected Growth</h2>
			</div>
			{{> progressChart}}
		</div>
	</div>
</template>

<template name="stockChart">
	<canvas id="stockChart" height="230" width="500"></canvas>
</template>

<template name="portfolioChart">
	<canvas id="portfolioChart" height="250" width="250"></canvas>
</template>

<template name="progressChart">
	<canvas id="progressChart" height="270" width="450"></canvas>
</template>


