<template name="dashboard">
	<h1>Dashboard</h1>
	<hr>
	<h4>Welcome back <strong>{{username}}</strong></h4>
	<div class="dashboard_container">
		<div class="dashboard_item">
			<h1>{{goalCount}}</h1>
			<p>active goals</p>
		</div>
		<div class="dashboard_item">
			<h1>{{currentProgress}}%</h1>
			<p>of total reached</p>
		</div>
		<div class="dashboard_item">
			<h1>${{monthlyAmt}}</h1>
			<p>invested monthly</p>
		</div>
		<div class="dashboard_item">
			<h1>${{currentAmt}}</h1>
			<p>current portfolio value</p>
		</div>
		<div class="dashboard_item">
			<div class="dashboard_header">
				<h2>Your Top Goals</h2>
			</div>
			{{#each goals}}
			<div class="top_goal">
				{{> goalchart}}
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="goalchart">
	<canvas id="{{_id}}" height="100" width="100"></canvas>
	<h3><a href="{{pathFor route='bucketlist'}}"> {{title}}</a></h3>
</template>

<!-- <template name="myReveal">
  <p><a data-open="myReveal">Click me for a modal</a></p>

  <div class="reveal" id="myReveal">
    <h1>Awesome. I Have It.</h1>
    <p class="lead">Your couch. It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</template> -->
