<template name="portfolio">
	<h1>Portfolio</h1>
	<hr>
	<div class="portfolio">
		<div class="row">
			<div class="small-3 columns">
				<h1>{{returnRate}}%</h1>
				<p>Monthly Expected Return Rate{{>tooltip desc="The average percentage you gain monthly from your portfolio based on the current market prices."}}</p>
			</div>
			<div class="small-3 columns">
				<h1>{{annualReturn}}%</h1>
				<p>Annual Expected Return Rate{{>tooltip desc="The average percentage you gain yearly from your portfolio based on the current market prices."}}</p>
			</div>
			<div class="small-3 columns">
				<h1>{{volatilityRate}}%</h1>
				<p>Expected Volatility Rate{{>tooltip desc="The amount that your portfolio value is expected to fluctuate, based on market movements."}}</p>
			</div>
			<div class="small-3 columns">
				<h1>{{expenseRatio}}%</h1>
				<p>Annual Expense Ratio{{>tooltip desc="The annual fee that all funds charge their shareholders."}}</p>
			</div>
		</div>
		<h3>Projected Growth</h3>	
		{{> returnsChart}}
		<div class="row">
			<h3>Portfolio Breakdown</h3>
			<div class="small-12 large-6 columns">
				{{> breakdownChart}}
			</div>
			<div class="small-12 large-6 columns">
				<div class="row">
					<div class="small-6 columns">
						<h1>{{stockPercent}}%</h1>
						<p>Equity Stocks</p>
					</div>
					<div class="small-6 columns">
						<h1>{{bondPercent}}%</h1>
						<p>Fixed Income Bonds</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="breakdownChart">
	<canvas id="breakdownChart" height="50" width="100"></canvas>
</template>

<template name="returnsChart">
	<canvas id="returnschart" height="80" width="250"></canvas>
</template>