<template name="profile">
	<h1>Profile</h1>
	<hr>
	<div class="profile">
		<div class="profile-header">
			<h1><i class="fa fa-user"></i> {{username}}</h1>
			<p>{{email}} | {{gender}} | {{age}}</p>
		</div>
		<div class="profile-goal">
			<h1>${{balance}}</h1>
			<p>current portfolio value</p>
			<h1>${{monthlyAmt}}</h1>
			<p>monthly investment amount</p>
			<h1>${{targetAmt}}</h1>
			<p>total target amount</p>
		</div>
		<div class="profile-basic">
			<p>Monthly Income: {{income}}</p>
			<p>Monthly Expenditure: {{expenditure}}</p>
			<p>Risk Tolerance: {{riskscore}}%</p>
			<hr>
			<p class="footnote"><em>This information is collected solely for the purpose of this pilot test, and will not be distributed or used for any other purposes.</em></p>
			<div class="time-acceleration">
				<p><strong>Time Acceleration:</strong></p>
				<div class="row">
					<div class="small-2 large-2 columns"><button class="button" id="minus_time">-</button></div>
					<div class="small-8 large-8 columns"><h3>2 Weeks</h3></div>
					<div class="small-2 large-2 columns"><button class="button" id="plus_time">+</button></div>
					<button id="reset_time" class="button">Reset Date</button>
				</div>
			</div>
		</div>
	</div>
</template>