<template name="registration">
	<div class="regis_container">
	{{#if basic}}
		<h1>Some basic information</h1>
		{{> basic_info}}
	{{else}}
		{{#if risk}}
			<h1>Getting to know you better</h1>
			{{> risk_profile}}
		{{else}}
			{{#if goal}}
				<h1>
				<a data-open="add_goal_modal">Click to create your First Goal</a>
				<hr>
				{{> recommendation}}
				</h1>
				{{> add_goal_modal gg=goal_item}}
			{{/if}}
			{{#if done}}
				<h1>Awesome</h1>
				<h4>You are now ready to start investing in your goals.</h4>
				<!--<h4> Or you can 
				<a data-open="add_goal_modal">Create another goal</a>
				</h4>-->
				<h4><a id="dashboard">Go to dashboard</a></h4>
			{{/if}}
		{{/if}}
	{{/if}}
	</div>
</template>

<template name="basic_info">
	<form class="basic_info">
		<div class="row">
			<fieldset class="large-6 columns">
			    <legend>Gender</legend>
			    <input type="radio" name="gender" value="m" id="gender_male" required><label for="gender_male">Male</label>
			    <input type="radio" name="gender" value="f" id="gender_female"><label for="gender_female">Female</label>
				<legend>Marital Status</legend>
			    <input type="radio" name="married" value="m" id="married"><label for="married">Married</label>
			    <input type="radio" name="single" value="f" id="single"><label for="single">Single</label>
				<input type="radio" name="other" value="f" id="other"><label for="other">Other</label>
				<legend>Age Group</legend>
			    <input type="radio" name="one" value="m" id="one"><label for="one">0-17</label>
			    <input type="radio" name="two" value="f" id="two"><label for="two">18-29</label>
				<input type="radio" name="three" value="f" id="three"><label for="three">30-49</label>
				<input type="radio" name="four" value="f" id="four"><label for="four">>50</label>
			</fieldset>
		</div>
		<div class="row">
		    <div class="large-6 columns">
		      	<label>Net Monthly Income(in SGD)<input type="number" placeholder="3000.00" name="income" /></label>
		    </div>
		</div>
		<div class="row">
		    <div class="large-6 columns">
		      	<label>Average Monthly Expenditure(in SGD)<input type="number" placeholder="2000.00" name="expenditure" /></label>
		    </div>
		</div>
		<!--
		<div class="row">
		    <div class="large-6 columns">
		      	<label>Initial Deposit Amount (in SGD)<input type="number" placeholder="$$ 1000.00" name="deposit" /></label>
		    </div>
		</div>
		<div class="row">
		    <div class="large-6 columns">
		      	<label>Monthly Increment Amount (in SGD)<input type="number" placeholder="$$ 100.00" name="increment" /></label>
		    </div>
		</div>
		-->
		<div class="row">
		  	<input class="button" type="submit" value="Next">
		</div>
	</form>
</template>