<template name="registration">
	<div class="regis_container">
	{{#if basic}}
		<h1>Some Basic Information</h1>
		<hr>
		<p>Here we will need you to fill in some general details about yourself in order for us to profile you accurately. Do note that all information is kept <strong>strictly confidential</strong>.</p>
		{{> basic_info}}
	{{else}}
		{{#if risk}}
			<h1>Getting to know you better</h1>
			<hr>
			<p>The following questions will allow us to access your risk tolerance better. Be honest and spontaneous while answering these questions, as they will give us a better gauge of your risk profile.</p>
			{{> risk_profile}}
		{{else}}
			{{#if goal}}
				<h1>Create your First Goal</h1>
				<hr>
				<p>You are now ready to add your first goal. You can either select one the goals from our catalogue, or <a data-open="add_goal_modal">define your own goal</a>.</p>
				{{> recommendation}}
				{{> add_goal_modal gg=goal_item}}
			{{/if}}
			{{#if done}}
				<h1>Awesome</h1>
				<h4>You are now ready to start investing in your goals.</h4>
				<!--<h4> Or you can 
				<a data-open="add_goal_modal">Create another goal</a>
				</h4>-->
				<h4><a id="dashboard">Go to Dashboard</a></h4>
				<h4><a href="/tutorial">Get a Quick Tutorial</a></h4>
			{{/if}}
		{{/if}}
	{{/if}}
	</div>
</template>

<template name="basic_info">
	<form class="basic_info">
		<div class="registration-basic">
			<div class="row">
				<fieldset >
				    <h3>Gender</h3>
				    <input type="radio" name="gender" value="m" id="gender_male" required><label for="gender_male">Male</label>
				    <input type="radio" name="gender" value="f" id="gender_female"><label for="gender_female">Female</label>

					<hr>
					<h3>Marital Status</h3>
				    <input type="radio" name="mstatus" value="m" id="married"><label for="married">Married</label>
				    <input type="radio" name="mstatus" value="f" id="single"><label for="single">Single</label>
					<input type="radio" name="mstatus" value="f" id="other"><label for="other">Other</label>
					
					<hr>
					<h3>Age Group</h3>
				    <input type="radio" name="age" value="m" id="one"><label for="one">0-17</label>
				    <input type="radio" name="age" value="f" id="two"><label for="two">18-29</label>
					<input type="radio" name="age" value="f" id="three"><label for="three">30-49</label>
					<input type="radio" name="age" value="f" id="four"><label for="four">>50</label>
				</fieldset>
			</div>
			<div class="row">
		    	<hr>
		    	<h3>Net Monthly Income (in SGD)</h3>
		      	<input type="number" placeholder="3000.00" name="income" />
			</div>
			<div class="row">
		      	<hr>
		      	<h3>Average Monthly Expenditure (in SGD)</h3>
		      	<input type="number" placeholder="2000.00" name="expenditure" />
			</div>
		</div>
		<input class="button" id="basic-submit" type="submit" value="Continue >>>">
	</form>
</template>