<template name="support">
    <h1>Contact us if you find a bug!</h1>
    <hr>
    <form class="bug">
        <div class="row">
    		<div class="large-6 columns">
                <label>Title 
                    <input type="text" name="title" />
                </label>
    		</div>
        </div>

        <div class="row">
    		<div class="large-6 columns">
            <label>Description
                <textarea type="text" name="description"> </textarea>
            </label>
    		</div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <input type='submit' value="Submit" class="button"/>
            </div>
        </div>
    </form>

</template>